.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.repo {
  background-color: #fff;
  max-width: 360px;
  border: 1px solid #eee;
  padding: 10px;
}
